@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

::placeholder {
  color: white;
}

body {
  color: #666666;
  font-family: "Roboto", sans-serif;
  background: #e9e9e9;
  font-size: 85%;
  width: 100%;
  margin: 0 auto;
}

#wrapper {
  width: 50%;
  margin: 0 auto;
}

header {
  width: 100%;
}

.form {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background: #ffffff;
  margin-top: 1%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#logo {
  padding-right: 7%;
}

.form h1 {
  border-left-color: #235cc7;
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 5%;
  color: #235cc7;
  font-size: 200%;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.leftinput {
  width: 42%;
  margin-right: 5%;
  margin-left: 3%;
}
.rightinput {
  width: 42%;
  margin-right: 5%;
  margin-left: 3%;
}

.inputtext {
  width: 100%;
  color: white;
  font-size: 130%;
}

.inputtext input {
  width: 100%;
  background-color: #e9e9e9;
  font-size: 130%;
  padding: 3%;
  border: none;
  border-bottom-color: #235cc7;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  color: #666666;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.radiotext {
  width: 100%;
  background-color: #e9e9e9;
  border-bottom-color: #235cc7;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  margin-bottom: 4%;
}

fieldset {
  width: 100%;
  border: none;
  background-color: #e9e9e9;
  padding: 4%;
}

fieldset input {
  width: 13%;
  height: 100%;
}

label {
  font-size: 150%;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: 5%;
}

.form .submit{
  margin: 0 6%;
  text-align: center;
}

.form .submit button{
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 40%;
  border: 2px solid #e9e9e9;
  padding: 3%;
  font-size: 150%;
  font-weight: 600;
}

.form .submit button span{
  position: relative;
  z-index: 1;
  color: #e9e9e9;
}

.form .submit button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #235cc7;
  transition: all .50s;
}

.form .submit button:hover{
  color: #e9e9e9;
}

.form .submit button:hover:after{
  width: 100%;
  border: #e9e9e9;
  animation: hoverOver 0.5s;
}

/*
320px — 480px: Mobile devices <
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/

@media screen and (max-width: 800px) {
  #wrapper {
    width: 100%;
  }

  #logo {
    width: 33.3%;
    margin: 0 auto;
  }
  .rightinput {
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
  }

  .leftinput {
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 480px) {
  #wrapper {
    width: 100%;
    min-width: 320px;
  }
}

@keyframes hoverOver {
  from {background-color: #e9e9e9;}
  to {background-color: #235cc7;}
  
}